header{
    display: flex;
}
h1{
    background-color: darkgray;
}
img{
    width: 400px;
    height: 450px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin-left: 10px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif   ;
}
a:hover{
    background-color: darkgray;
}
figcaption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
div{
    display: flex;
}